<div class="jumbotron">
  <div class="welcome-msg">
    <h1>Welcome to PetVacay</h1>
  <p>Welcome Travelling Pet Lovers! <br>Let <strong>Pet Vacay</strong> help you find a pet sitter to care for your pets while you enjoy your vacation.</p>
  <%= link_to 'Become A Member', new_user_registration_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>




